.breadcrumb {
    background-color: #f8f3ec;
    padding: 10px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
    color: black;
    position: relative;
    margin-top: 60px;
    text-align: left;
    padding-left: 20px;
  }
  .breadcrumb span {
    font-size: 16px;
    color: #333;
}

.breadcrumb a {
    
    text-decoration: none;

}

.breadcrumb a:hover {
    text-decoration: underline;
    
}
