.aretes {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  
  .titulo {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
  }
  
  .categorias {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  eliminado {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
  }
  
  .productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .paginacion {
    text-align: center;
    margin: 20px 0;
  }
  
  .paginacion span {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginacion span:hover {
    text-decoration: underline;
  }
  