.nuestro-proceso {
    
    padding: 50px 20px;
    background-color: #fff;
  }
  
  .nuestro-proceso h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .proceso-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
    border: 1px black;
  }
  
  .proceso-item {
    
    display: flex;
    flex-direction: column;  
    align-items: left;  
    text-align: center;  
    padding: 10px;
    
    
    
  }
  
  .proceso-icono {
    width: 15%;
    height: auto;
    margin-bottom: 0;
    
    margin-left: 0; 
    
  }
  
  .proceso-item h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: black;
    text-align: left;
    font-family: 'Playfair Display', serif;

  }
  
  .proceso-item p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    line-height: 35px;
  }
  
  @media (max-width: 768px) {
    .proceso-grid {
      grid-template-columns: 1fr;
    }
  
    .proceso-item {
      padding: 15px;
    }
  
    .proceso-item h3 {
      font-size: 1.3rem;
    }
  
    .proceso-item p {
      font-size: 0.9rem;
    }
  }
  