.aro-de-caballero {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .categorias {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  eliminado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .paginacion {
    text-align: center;
    margin-top: 20px;
  }
  
  .paginacion span {
    margin: 0 5px;
    cursor: pointer;
    color: #555;
  }
  
  .paginacion span:hover {
    text-decoration: underline;
  }
  