.cadenas-ella {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  
  
  .titulo {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
  }
  
  .categorias {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  eliminado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .paginacion {
    text-align: center;
    margin-top: 20px;
  }
  
  .paginacion span {
    margin: 0 5px;
    cursor: pointer;
  }
  