.wishlist-container {
    text-align: center;
    margin: 0 auto;
    color: black;
    width: 100%;
    position: relative;
    height: auto;
    min-height: 500px;
}

eliminado {
    font-size: 14px;
    margin-top: 10px;
    color: #888;
}
.wishlist-content {
    display: flex;
    
    gap: 20px;
    justify-content: center;
  }
.wishlist-title {
    font-size: 2em;
    margin: 20px 0;
}

.wishlist-content {
    margin: 50px auto;
}
.wishlist-icon img {
    width: 10%;
    height: auto;
}
.heart-icon {
    font-size: 1em;
    color: #ddd;
}

.heart-highlight {
    color: red;
}

.wishlist-btn1 {
    background-color: #888;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.wishlist-btn1:hover {
    background-color: black;
    color: white;
}
