.anillo-compromiso-plata {
    font-family: 'Arial', sans-serif;
  }
  
  
  
  .titulo {
    text-align: center;
    font-size: 24px;
    margin: 10px 0 20px;
  }
  
  eliminado {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .paginacion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .paginacion span {
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .pagina-actual {
    background-color: #000;
    color: #fff;
    border-color: #000;
  }
  